<%if !current_user %>
	<h1>Welcome ShTwitter!</h1>
	<p>The latest and <blink>greates</blink> site of SOCIAL MEDIA interaction. Make posts, follow friends and be social in general!</p>
	<p>Sign in or make an account!</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<%else%>
	<table class="front" summary="s">
		<tr>
			<td class="main">
				<h1 class="micropost">What's up?</h1>
				
				<%= form_for(@micropost) do |f| %>
					<div class="field">
						<%= f.text_area(:content, :size => "20x5" ) %>
					</div>
					<div class="submit">
						<%= f.submit "Submit" %>
					</div>
				<% end %>
				
				<br />
				
				<%= render "shared/display_posts", :paramz => @user.feed %>
				
			</td>
			
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<br />
				<%= render "shared/user_followstatus"%>
			</td>
			
		</tr>
		
		
		
	</table>

<%end%>
